{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'user' %}" class="navbar-brand">Hello {{ user.username }}!</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se deconnecter</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Se connecter</a></li>
</ul>

{% endif %}
