{% extends "app/layout.html" %}

{% block content %}
<div class="container body-content">
{% load static from staticfiles %}

<div class="row">
    <div class="col-md-12">
        <div class="heading-section">
            <h2>-</h2>
            <h2>Paiement</h2>
                <img src="{% static "app/images/under-heading.png" %}" alt="" />
        </div>
    </div>
</div>
{% if atelier.restant <= 0 or atelier.restant < nb or request.user.groups.all.0.name == 'Chef Cuisinier' or nbinscr != 0 %}
  <b>Vous n'avez pas accès à cette page.</b>
{% else %}
  {% if nb > 1 and request.user.groups.all.0.name != 'Client Premium' and request.user.groups.all.0.name != 'Admin'%}
    <b>Vous n'avez pas accès à cette page.</b>
  {%else%}
  <form class="" action="" method="post">{% csrf_token %}
    <div class="col-md-6">
        <b>Numero de carte : </b>
        <input type="number" name="postal" required><br/>
        <b>Nom du titulaire : </b>
        <input type="text" name="postal" required><br/>
    </div>
    <div class="col-md-6">
        <b>Cryptogramme : </b>
        <input type="number" name="postal" required><br/>
        <b>Date d'expiration : </b>
        <input type="date" name="postal" required><br/>
    </div>
    <div class="col-md-16">

    Total: {{total}}€&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Continuer" enctype="multipart/form-data" />
    </div>

  </form>
  {%endif%}

{% endif %}




</div>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Yakasserole 2017</p>
        </div>
    </div>
</footer>
{% endblock %}
