{% extends "app/layout.html" %}

{% block content %}
<div class="container body-content">
{% load static from staticfiles %}


<div class="row">
    <div class="col-md-12">
        <div class="heading-section">
            <h2>-</h2>
            <h2>Inscription</h2>
                <img src="{% static "app/images/under-heading.png" %}" alt="" />
        </div>
    </div>
</div>
{% if atelier.restant <= 0 or request.user.groups.all.0.name == 'Chef cuisinier' or nbinscr != 0 %}
  <b>Vous n'avez pas acces à cette page</b>
{% else %}
  <b>Nom de l'atelier</b>
  <p>{{atelier.nom}}</p>
  <b>Date</b>
  <p>{{atelier.date}}</p>
  <b>Prix</b>
  <p>{{atelier.prix}}</p>
  <b>Nombre de place</b>
  <form class="atelier-total-form" action="" method="post">{% csrf_token %}
    {% if request.user.groups.all.0.name == 'Client Premium' or request.user.groups.all.0.name == 'Admin' %}
      <input class="atelier-place-input" type="number" name="place" value="1" min="1" max={{atelier.restant}}>
    {% else%}
      <input class="atelier-place-input" type="number" name="place" value="1" min="1" max="1">
    {%endif%}
    <span>Total:</span> <span><span class="atelier-place"></span> x <span class="atelier-price">{{atelier.prix}}</span> = <span class="atelier-total"></span></span>€
    <input type="submit" value="Continuer" enctype="multipart/form-data" />
  </form>


{% endif %}




</div>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Yakasserole 2017</p>
        </div>
    </div>
</footer>
{% endblock %}
