{% extends "app/layout.html" %}
{% block content %}
{% load static from staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Post - Start Bootstrap Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        &nbsp;
        <div class="row">
            <div class="col-lg-8">
                <h1>{{atelier.nom}}</h1>
                <p class="lead">Chef: <a href="{% url 'userprofile' pk=atelier.chef.pk %}">{{atelier.chef.first_name}} {{atelier.chef.last_name}}</a></p>
                <hr>
                {% if request.user == recipe.user or request.user.groups.all.0.name == 'Admin' or request.user.groups.all.0.name == 'Responsable Ateliers'%}

                     <button><a href="{% url 'atelier-update' pk=atelier.pk %}">Modifier</a></button>
                     <button><a href="{% url 'atelier-delete' pk=atelier.pk %}">Supprimer</a></button>
                    <hr>
                {% endif %}
                <img class="img-responsive center-block" style="margin: 0 auto;" src=/{{atelier.picture}} alt="">
                {% if request.user == recipe.user or request.user.groups.all.0.name == 'Admin' or request.user.groups.all.0.name == 'Responsable Ateliers'%}
                    <form action="{% url 'upload_pic_at' pk=atelier.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="col-lg-6">
                                <input id="id_image" type="file" class="" name="image">
                        </div>
                        <div class="col-lg-4">
                            <input type="submit" value="Modifier l'image" />

                        </div>
                    </form>
                <p><br><br><br></p>
                {% endif %}
                <hr>

                <p class="lead">{{ atelier.description }}</p>

                <hr>

                <div class="well">
                    <h4>Laisser un commentaire:</h4>
                    <!-- <form action="" method="post">{% csrf_token %}
                        <textarea name="text_box" placeholder="Ecrire un commentaire"></textarea>
                        <button type="submit">Envoyer</button>
                    </form> -->
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form%}
                        {{ field }}
                        {%endfor%}
                        <input type="submit" value="Envoyer" />
                    </form>
                </div>

                {% for comment in comments %}
                    <hr>
                    <div class="media">
                        <a class="pull-left" href="{% url 'userprofile' pk=comment.user.pk %}">
                            <img class="media-object" src={{ comment.user.socialaccount_set.all.0.get_avatar_url }} alt="" width=64 height=64>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.user.first_name}} {{comment.user.last_name}}
                                <small>{{comment.creation_date}}</small>
                            </h4>

                            {% if request.user == comment.user or request.user.groups.all.0.name == 'Admin' or request.user.groups.all.0.name == 'Responsables Utilisateurs'%}
                            <div align="right">
                                <button><a href="{% url 'ateliercomment-delete' pk=atelier.pk pkcomment=comment.pk %}">Supprimer</a></button>
                            </div>
                            {% endif %}
                            {{comment.content}}
                     </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                &nbsp;
                <div class="well">
                    <h4>Rechercher un atelier</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="well">
                    <h4>Information</h4>
                    <p> Date: {{atelier.date}} </p>
                    <p> Durée: {{atelier.duration}} </p>
                    <p> Prix: {{atelier.prix}}€ </p>
                    <p> Lieu: {{atelier.lieu}} </p>
                </div>
                <div class="well">
                    <h4>Places</h4>
                    <p>Total: {{atelier.place}}</p>
                    <p>Restant: {{atelier.restant}}</p>
                    {% if atelier.restant > 0 and nbinscr == 0 %}
                    <!-- FIXME: if not inscrit, date > now -->
                      <button><a href="{% url 'atelier-inscription' pk=atelier.pk %}">Inscription</a></button>
                    {% else %}
                        <p>Déjà inscrit</p>
                    {% endif %}
                </div>
                {% if request.user.groups.all.0.name == 'Admin' or request.user.groups.all.0.name == 'Responsable Atelier' or request.user.groups.all.0.name == 'Chef Cuisinier'%}
                <div class="well">
                    <h4>Inscrits à l'atelier</h4>
                    {%for inscrit in inscrits%}
                      <p>  {{inscrit.user.first_name}} {{inscrit.user.last_name}}, place(s): {{inscrit.nbplace}} </p>
                    {%endfor%}

                </div>
                {%endif%}
            </div>


        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Yakasserole 2017</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

{% if not atelier %}
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                &nbsp;
                <h2>L'atelier n'existe pas !</h2>
                <img src="{% static "app/images/under-heading.png" %}" alt="" />
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
