{% extends "app/layout.html" %}

{% block content %}
<div class="container body-content">
{% load static from staticfiles %}
    &nbsp;


<div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Ateliers</h2>
                     <img src="{% static "app/images/under-heading.png" %}" alt="" />
                </div>
            </div>
        </div>
<h3>{{ message }}</h3>

<p>Use this area to provide additional information.</p>
</div>
{% endblock %}
