{% extends "app/layout.html" %}
{% block content %}
<div class="container body-content">
    {% load static from staticfiles %}
    &nbsp;


<div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Recettes</h2>
                     <img src="{% static "app/images/under-heading.png" %}" alt="" />
                </div>
            </div>
        </div>
<h3>Les recettes</h3>

<address>
    One YaKasserole Way<br />
    YA, KA 00000-0000<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rigard_s@epita.fr">rigard_s@epita.fr</a><br />
</address>
    </div>
{% endblock %}
