{% extends "app/layout.html" %}
{% block content %}
{% load static from staticfiles %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{% static "app/images/band.jpg" %}" alt="First Slide">
            <div class="carousel-caption">
                <h1>
                    YaKasserole
                </h1>
                La cuisine notre passion !
            </div>
        </div>
        <div class="item">
            <img src="{% static "app/images/band2.png" %}" alt="Second Slide">
            <div class="carousel-caption">
                <h1>
                    Découvrez nos recettes
                </h1>
                Partagez, echangez, apprenez !
            </div>
        </div>
        <div class="item">
            <img src="{% static "app/images/band3.png" %}" alt="Third Slide">
            <div class="carousel-caption">
                <h1>
                    Participez aux ateliers
                </h1>
                Inscrivez vous aux ateliers près de chez vous !
            </div>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div id="latest-blog">
    <div class="container">
        {% if request.user.groups.all.0.name == 'Admin'%}
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Statistiques</h2>
                    <img src="{% static "app/images/under-heading.png" %}" alt="" />
                </div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ usernb }}</div>
                                <div>Utilisateurs</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ inscrnb }}</div>
                                <div>Inscriptions</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ clientnb }}</div>
                                <div>clients</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ prnb }}</div>
                                <div>Clients premiums</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ recipenb }}</div>
                                <div>Recettes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ ateliernb }}</div>
                                <div>Ateliers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ rcommentnb }}</div>
                                <div>Commentaires Recettes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ acommentnb }}</div>
                                <div>Commentaires Ateliers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Recettes populaires</h2>
                    <img src="{% static "app/images/under-heading.png" %}" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            {% for recette in recettespop %}
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src=/{{ recette.picture }} alt="" height="225" width="950" />
                        </div>
                        <div class="blog-content">
                            <div class="content-show">
                                <h4><a href="{% url 'recipe' pk=recette.pk %}">{{ recette.nom }}</a></h4>
                                <span>{{ recette.user.first_name }} {{ recette.user.last_name }}</span>
                            </div>
                            <div class="content-hide">
                                <p>{{ recette.recetteDetail }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Ateliers du moment</h2>
                    <img src="{% static "app/images/under-heading.png" %}" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            {% for atelier in ateliers %}
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <img src=/{{ atelier.picture }} alt="" height="225" width="950" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="{% url 'atelier' pk=atelier.pk %}">{{ atelier.nom }}</a></h4>
                            <!-- <span>{{ atelier.user.first_name }} {{ atelier.user.last_name }}</span> -->
                        </div>
                        <div class="content-hide">
                            <p>{{ atelier.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
        
</div>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Yakasserole 2017</p>
        </div>
    </div>
</footer>

{% endblock %}
