{% if user.is_authenticated %}

    <form id="logoutForm" action="/logout" method="post" class="navbar-right">
        {% csrf_token %}
    </form>

    <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user' %}" class="navbar-brand">Bonjour {{ request.user.first_name }}!</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
    </ul>

{% else %}

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Se connecter</b> <span class="caret"></span></a>
		    <ul id="login-dp" class="dropdown-menu">
			    <li>
			        <div class="row">
                        <div class="text-center">
                            <h4>Utilisez-votre compte Google !</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
					        <form action="." method="post" class="form-horizontal">
                                {% csrf_token %}
                                <meta name="google-signin-client_id" content="891756079590-98iqb0gt1v59uotq5190dpkd49uq2aah.apps.googleusercontent.com">
                                <div id="my-signin2"></div>
                                <script>
                                    function onSuccess(googleUser)
                                    {
                                        var auth2 = gapi.auth2.getAuthInstance();
                                        auth2.signOut().then(function () {
                                        console.log('User signed out.');
                                    });
                                        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                                        window.location.href = '/accounts/google/login/?process=loginx';
                                    }

                                    function onFailure(error) {
                                    console.log(error);
                                    }

                                    function renderButton() {
                                    gapi.signin2.render('my-signin2', {
                                        'scope': 'profile email',
                                        'width': 240,
                                        'height': 50,
                                        'longtitle': true,
                                        'theme': 'dark',
                                        'onsuccess': onSuccess,
                                        'onfailure': onFailure
                                    });
                                    }
                                </script>
                                <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
                            </form>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2">
						    Admin ? <a href="{% url 'login' %}"><b>Connectez-vous !</b></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

{% endif %}
