{% extends "app/layout.html" %}
{% block content %}
{% load static from staticfiles %}

{% for recipe in recipes %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Post - Start Bootstrap Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        &nbsp;
        <div class="row">
            <div class="col-lg-8">
                <h1>{{recipe.nom}}</h1>
                <p class="lead">par <a href="#">{{recipe.user.first_name}} {{recipe.user.last_name}}</a></p>

                {% if request.user == recipe.user or request.user.groups.all.0.name == 'Admin' or request.user.groups.all.0.name == 'Responsables Utilisateurs'%}
                    <hr>
                    <button><a href="{% url 'recipe-update' pk=recipe.pk %}">Modifier</a></button>
                    <button><a href="{% url 'recipe-delete' pk=recipe.pk %}">Supprimer</a></button>
                    <p><span class="glyphicon glyphicon-time"></span> {{recipe.creation_date}}</p>
                {% endif %}

                <hr>

                <img class="img-responsive" src={{ recipe.picture }} alt="">

                <hr>

                <p class="lead">{{ recipe.recetteDetail }}</p>

                <hr>

                <div class="well">
                    <h4>Laisser un commentaire:</h4>
                    <!-- <form action="" method="post">{% csrf_token %}
                        <textarea name="text_box" placeholder="Ecrire un commentaire"></textarea>
                        <button type="submit">Envoyer</button>
                    </form> -->
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Envoyer" />
                    </form>
                </div>
                <hr>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Utilisateur 1
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                {% for comment in comments %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{recipe.user.first_name}} {{recipe.user.last_name}}
                                <small>{{recipe.creation_date}}</small>
                            </h4>
                            {{recipe.content}}
                     </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                &nbsp;
                <div class="well">
                    <h4>Recherche une recette</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="well">
                    <h4>Listes des ingrédients</h4>
                    <p> {{recipe.ingredients}} </p>
                </div>
                <div class="well">
                    <h4>Durée de la recette</h4>
                    <p>Temps de préparation : {{recipe.cuisson}}</p>
                    <p>Temps de cuisson : {{recipe.preparation}}</p>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
{% endfor %}

{% if not recipes %}
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                &nbsp;
                <h2>La recette n'existe pas !</h2>
                <img src="{% static "app/images/under-heading.png" %}" alt="" />
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
