{% extends "app/layout.html" %}
{% block content %}
{% load static from staticfiles %}

{% if request.user.groups.all.0.name == 'Admin' or request.user.groups.all.0.name == 'Responsable Utilisateurs' or request.user.pk == object.pk %}


<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>-</h2>
                <h2>Modifier le profil</h2>
                <img src="{% static "app/images/under-heading.png" %}" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    <!-- {% if envoi %} La recette a été créé !{% endif %} -->
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Envoyer" enctype="multipart/form-data" />
    </form>
</div>
{% else %}
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>-</h2>
                <h2>Vous n'avez pas les droits !</h2>
                {{request.user.groups.all.0.name}}{{request.user.first_name}}{{object.pk}}
                <img src="{% static "app/images/under-heading.png" %}" alt="" />
            </div>
        </div>
    </div>
</div>
{% endif %}

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Yakasserole 2017</p>
        </div>
    </div>
</footer>

{% endblock %}
